<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-back-button></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <button mat-button (click)="changePhoneNumber()">确定</button>
        </ion-buttons>
        <ion-title>修改手机号</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <mat-form-field class="width-100 padding-20">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput formControlName="phoneNumber">
            <button mat-icon-button matSuffix>
                <mat-icon>clear</mat-icon>
            </button>
            <mat-error
                    *ngIf="form.controls['phoneNumber'].errors">手机号位数不对!
            </mat-error>
        </mat-form-field>
    </form>
</ion-content>
