<tw-header title="修改手机号"
           [showButtonRight]="true"
           buttonTitle="{{'Lang_910' | translate}}"
           [showLoadingButtonRight]="inModify"
           (buttonAction)="changePhoneNumber()"></tw-header>

<ion-content class="tw-background-color">
    <form [formGroup]="form">
        <mat-form-field class="width-100 padding-20" floatLabel="never">
            <mat-label>手机号码</mat-label>
            <input type="tel" matInput formControlName="phoneNumber">
            <button mat-icon-button matSuffix (click)="form.patchValue({phoneNumber:''})">
                <mat-icon>clear</mat-icon>
            </button>
            <mat-error
                    *ngIf="form.controls['phoneNumber'].errors">手机号填写不正确!
            </mat-error>
        </mat-form-field>
    </form>
</ion-content>
