<tw-header title="{{'Lang_32'|translate}}" [showButtonRight]="true" buttonTitle="确定"
           (buttonAction)="changePhoneNumber()"></tw-header>

<ion-content>
    <form [formGroup]="form">
        <mat-form-field class="width-100 padding-20">
            <mat-label>Telephone</mat-label>
            <input type="tel" matInput formControlName="phoneNumber">
            <button mat-icon-button matSuffix (click)="form.patchValue({phoneNumber:''})">
                <mat-icon>clear</mat-icon>
            </button>
            <mat-error
                    *ngIf="form.controls['phoneNumber'].errors">手机号填写不正确!
            </mat-error>
        </mat-form-field>
    </form>
</ion-content>
