<tw-header title="{{'Lang_51' | translate}}"></tw-header>

<ion-content>
    
    <div *ngIf="featuresList.length > 0">
        <div class="avatar-box" mat-ripple [routerLink]="['details',item.id]"
             *ngFor="let item of featuresList">
            <div class="user-info">
                <p class="name">vietnamMOA{{item.version}}主要更新</p>
                <p class="department">{{item.releaseTime}}</p>
            </div>
            <span class="flex-right"></span>
            <mat-icon>chevron_right</mat-icon>
        </div>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <br>
        <div style=" width:100%; text-align:left; margin-left:15px; margin-right:15px;" *ngIf="noData">
            <hr class="hrLine" style="width:60px;"/>
            加载完毕
            <hr class="hrLine" style="width:60px;"/>
        </div>
    </div>
    
    
    <div *ngIf="featuresList.length<=0">
        <ion-list>
            <ion-item>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            
            <ion-item>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>


</ion-content>


