<tw-header title="{{'Lang_11' | translate}}" [backButton]="false"></tw-header>
<ion-content class="content tw-background-color">
    <div class="date-picker">
        <div class="date-picker-button" (click)="datePicker.open()" matRipple>
            <mat-icon svgIcon="calendar"></mat-icon>
            <span class="date-number">{{salary.date}}</span>
        </div>
        <div class="all-income">
            {{salary.currencySymbol + salary.totalIncoming}}
        </div>
    </div>
    <mat-accordion class="salary-panel" [displayMode]="'flat'">
        <mat-expansion-panel
                *ngFor="let itemA of salary.incomes"
                [hideToggle]="!(itemA.items.length > 0)"
                [disabled]="itemA.items.length <= 0"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>{{itemA.name}}</mat-panel-title>
                <mat-panel-description>{{salary.currencySymbol + itemA.income}}</mat-panel-description>
            </mat-expansion-panel-header>
            
            
            <div *ngFor="let itemB of itemA">
                
                <div *ngIf="!itemB.items">
                    <div slot="details" class="item-details" *ngFor="let item of itemA.items">
                        <span>{{item.name}}</span>
                        <span class="fill-remaining-space"></span>
                        <span class="text-secondary-color">{{salary.currencySymbol + item.income}}</span>
                    </div>
                </div>
    
                <mat-accordion (click)="stop($event)" *ngIf="itemB.items">
                    <mat-expansion-panel
                            *ngFor="let itemC of itemB.items"
                            [hideToggle]="!(itemC.items.length > 0)"
                            [disabled]="itemC.items.length <= 0"
                            (click)="stop($event)"
                    >
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{itemB.name}}</mat-panel-title>
                            <mat-panel-description>{{salary.currencySymbol + itemC.income}}</mat-panel-description>
                        </mat-expansion-panel-header>
            
                        <div slot="details" class="item-details" *ngFor="let item of itemC.items">
                            <span>{{item.name}}</span>
                            <span class="fill-remaining-space"></span>
                            <span class="text-secondary-color">{{salary.currencySymbol + item.income}}</span>
                        </div>
        
                    </mat-expansion-panel>
                </mat-accordion>
                
            </div>
            
            
           
            
        </mat-expansion-panel>
    </mat-accordion>
</ion-content>
<ion-datetime style="display: none" #datePicker value="{{salary.date}}" displayFormat="YYYY/MM" pickerFormat="YYYY MM"
              min="2000" [pickerOptions]="customPickerOptions" mode="md"
></ion-datetime>


