$mainColor: #414141;
$seconderyColor: #8e8e8e;

.content {
  --padding-top: 20px;

  .item-details {
    display: flex;
    opacity: 0.4;
    background-color: #afafaf0d;
    padding: 4px 15px 3px;
  }

  mat-accordion {

    mat-expansion-panel {
      //background-color: #fdfdfdf0;

      mat-panel-title {
        color: $mainColor;
      }

      mat-panel-description {
        color: $seconderyColor;
      }
    }
  }

  .tw-theme .mat-expansion-panel-header[aria-disabled=true] {
    color: red;
  }

  .date-picker {
    display: flex;
    align-items: center;
    padding: 3px 5px;

    .date-picker-button {
      display: flex;
      align-items: center;

      .mat-icon {
        height: 20px;
      }

      .date-number {
        line-height: 100%;
        margin-left: 3px;
      }
    }

    .all-income {
      flex: 1;
      text-align: right;
      padding-right: 5px;
    }
  }

  .salary-panel {
    margin-top: 5px;

    mat-expansion-panel {
      background: transparent;
    }

    .mat-expansion-panel-content {
      background-color: white;
    }

    mat-expansion-panel-header {
      border-bottom: 1px solid #f5f5f5;
    }
  }
}


.mat-expansion-panel-body {
  background-color: red !important;
}


.mat-expansion-panel {
  margin: 5px;
  background-color: white;
}

.income {
  flex-grow: 0;
  margin-right: 9px;
  color: $seconderyColor;
  margin-top: 3px;
}

.income-inner {
  margin-right: 9px;
  color: $seconderyColor;
}

.f-right {
  margin-left: auto;
  //color: $seconderyColor;
}

// 统计工时类型的偏移量
$base_amount: 45px;

.amount_margin_right {
  margin-right: $base_amount;
}

.details-income {
  flex: 1;
  text-align: right;
  margin-right: $base_amount + 2;
  //color: $seconderyColor;
}

.details2 {
  flex: 1;
  text-align: right;
  margin-right: $base_amount;
}

.amount-type {
  font-size: 13px;
  margin-top: 5px;
  color: #a19f9f !important;
}

.amount-type-details {
  font-size: 13px;
  margin-top: 0px;
  margin-right: $base_amount - 2 !important;
  //color: #a19f9f !important;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
  margin-right: 39px;
}

.fill-remaining-space {
  // 使用 flexbox 填充剩余空间
  // @angular/material 中的很多控件使用了 flex 布局
  flex: 1 1 auto;
}

.inner-expanstion {
  $padding: 10px;

  mat-expansion-panel {
    margin: 0px -10px;
    background-color: rgba(252, 252, 252, 0.06) !important;
  }

  mat-expansion-panel-header {
    padding: 0 24px;
    opacity: 0.8;
  }

  ::ng-deep .mat-expansion-panel-body {
    //padding: 0 $padding 10px;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 10px 0 !important;
}

//.inner-expanstion {
//  ::ng-deep .mat-expansion-panel-body {
//    padding: 0 10px 20px !important;
//  }
//}

::ng-deep .mat-expansion-indicator::after {
  color: rgba(88, 88, 88, 0.6) !important;
}


.inner-header {
  font-size: 14px;
}

.item-details-name {
  padding-left: 3px;
}

.inner-money {
  font-size: 14px;
}

mat-expansion-panel-header {
  background-color: white !important;
}

mat-expansion-panel-header:hover {
  background-color: white !important;
}
