<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>薪资</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="content">
    <div class="date-picker">
        <div class="date-picker-button" (click)="openDatePicker()" matRipple>
            <mat-icon>date_range</mat-icon>
            <span class="date-number">{{ date }}</span>
        </div>
        <div class="all-income">
            {{salary.currencySymbol + salary.totalIncoming}}
        </div>
    </div>
    <mat-accordion [displayMode]="'flat'">
        <mat-expansion-panel matRipple
                             *ngFor="let income of salary.incomes"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>{{income.name}}</mat-panel-title>
                <mat-panel-description>{{salary.currencySymbol + income.income}}</mat-panel-description>
            </mat-expansion-panel-header>
            
            <div slot="details" class="item-details"
                 *ngFor="let item of income.items"
            >
                <span>{{item.name}}</span>
                <span class="fill-remaining-space"></span>
                <span>{{salary.currencySymbol + item.income}}</span>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</ion-content>
<ion-datetime #datePicker displayFormat="YYYY/MM" pickerFormat="YYYY MM" min="2000"
              [pickerOptions]="customPickerOptions" mode="md"
></ion-datetime>


