$mainColor: #414141;
$seconderyColor: #a4a4a4;

.content {
  --padding-top: 20px;

  .item-details {
    display: flex;
  }

  mat-accordion {

    mat-expansion-panel {
      background-color: #fdfdfdf0;

      mat-panel-title {
        color: $mainColor;
      }

      mat-panel-description {
        color: $seconderyColor;
      }
    }
  }

  .tw-theme .mat-expansion-panel-header[aria-disabled=true] {
    color: red;
  }

  .date-picker {
    display: flex;
    align-items: center;
    padding: 3px 5px;

    .date-picker-button {
      display: flex;
      align-items: center;

      .mat-icon {
        height: 20px;
      }

      .date-number {
        line-height: 100%;
        margin-left: 3px;
      }
    }

    .all-income {
      flex: 1;
      text-align: right;
      padding-right: 5px;
    }
  }

  .salary-panel {
    margin-top: 5px;

  }
}

.mat-expansion-panel {
  margin: 5px;
  background-color: #e7e6df;
}

.income {
  flex-grow: 0;
  margin-right: 9px;
  color: $seconderyColor;
}

.income-inner {
  margin-right: 9px;
  color: $seconderyColor;
}

.f-right {
  margin-left: auto;
  color: $seconderyColor;
}

.details-income {
  flex: 1;
  text-align: right;
  margin-right: 58px;
  color: $seconderyColor;
}

.details2 {
  flex: 1;
  text-align: right;
  margin-right: 30px;

}

.mat-expansion-panel-header-description {
  flex-grow: 0;
  margin-right: 39px;
}

.fill-remaining-space {
  // 使用 flexbox 填充剩余空间
  // @angular/material 中的很多控件使用了 flex 布局
  flex: 1 1 auto;
}


.inner-expanstion {
  $padding: 10px;

  mat-expansion-panel {
    margin: 5px -10px;
    background-color: rgba(252, 252, 252, 0.06) !important;
  }

  mat-expansion-panel-header {
    padding: 0 $padding;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 $padding 10px;
  }


}

::ng-deep .mat-expansion-indicator::after {
  color: rgba(88, 88, 88, 0.6) !important;
}

