<div *ngIf="canUpgrade">
    <div *ngIf="!downloading">
        <p class="title" translate>Lang_75_1</p>
        <p class="" translate>Lang_75_2<span>{{data.fileSize}}m</span></p>
        <p class="" translate>Lang_75_3</p>
    </div>
    <div class="progress-panel" *ngIf="downloading">
        <span class="download">{{rate}}%</span>
        <mat-progress-bar [mode]="mode" value="{{rate}}" [bufferValue]="bufferValue">></mat-progress-bar>
    </div>
    <br>
    <div class="button">
        <button mat-button *ngIf="!downloading" (click)="close()">{{'Lang_75_4'| translate}}</button>
        <button mat-button class="upgrade" *ngIf="!downloading" (click)="update()">{{'Lang_75_5' | translate}}</button>
        <button class="app-primary" mat-button color="primary" *ngIf="downloading"
                (click)="close()">{{'Lang_53' | translate}}</button>
    </div>
</div>
<div *ngIf="!canUpgrade">
    <p class="title" translate>Lang_76</p>
    <button mat-button color="primary" (click)="close()"> {{'Lang_89_4' | translate}}</button>
</div>




