.title {
  color: #37a5f3;
  font-size: 18px;

}

.mat-dialog-container {

  padding: 0 !important;
}


.download {
  font-size: 15px;
  padding-left: 100px;
  width: 300px;
}

.button {
  text-align: right;

  .upgrade {
    color: #37a5f3;
  }
}
