.title {
  color: #37a5f3;
  font-size: 18px;

}

.mat-dialog-container {

  padding: 0 !important;
}



.progress-panel {
  text-align: right;
  width: 150px;


  .download {
    font-size: 15px;
    width: 300px;
  }
}


.button {
  text-align: right;

  .upgrade {
    color: #37a5f3;
  }
}
