span, p {
  color: #4a4a4a;
}

.verify-code {
  margin-bottom: 3px;
  padding: 0 7px;
  font-weight: normal;
}

.verify-code[ng-reflect-disabled="false"] {
  border-color: #37a5f3 !important;
}

.tw-theme .mat-stroked-button:not([disabled]) {
  border-color: #37a5f3 !important;
}

.mat-stroked-button:not([disabled]) {
  border-color: #37a5f3 !important;
}

.code {
  //color: red;
}

ion-content {
  --background: var(--ion-background-color, #fbfbfb);

}

.notice {
  font-size: 15px;
  word-break: break-all;
}

.return-msg {
  font-size: 15px;
  color: #ff5823;
  //margin-top: 6px;
}
