<ion-content scrollY="false">
    <tw-header title="{{'Lang_93' | translate}}" *ngIf="headShow"></tw-header>
    <form class="padding-20" [formGroup]="form">
        <mat-form-field class="width-100" appearance="legacy">
            <span matPrefix translate>Lang_95_1 &nbsp;</span>
            <input type="tel" matInput TWInputKeyupStop formControlName="account">
            <button class="verify-code" mat-stroked-button matSuffix
                    [disabled]="form.get('account').errors || inLoad || countDown > 0"
                    (click)="getCode()">
                <ion-spinner name="dots" *ngIf="inLoad"></ion-spinner>
                <span class="code"
                      [ngStyle]="{color:form.get('account').errors?'#c5c5c5':'#37a5f3'}"
                      *ngIf="!inLoad && !countDown" translate>Lang_96</span>
                <span *ngIf="countDown">
                    <span *ngIf="sysLangType == langZH; else elseShow">
                            {{countDown}}s {{'Lang_913' | translate}}
                    </span>
                    <ng-template #elseShow>
                           {{'Lang_913' | translate}} {{countDown}}s
                    </ng-template>
                </span>
            </button>
        </mat-form-field>
        <mat-form-field class="width-100">
            <span matPrefix translate>Lang_97_1 &nbsp;</span>
            <input matInput type="tel" TWInputKeyupStop formControlName="authCode">
            <button mat-icon-button matSuffix (click)="form.patchValue({authCode:''})">
                <mat-icon svgIcon="clear"></mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="width-100">
            <span matPrefix translate>Lang_98_1 &nbsp;</span>
            <input matInput TWInputKeyupStop [type]="passwordHide ? 'password' : 'text'"
                   formControlName="password">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                <mat-icon svgIcon="{{passwordHide ? 'eye-off' : 'eye-open'}}"></mat-icon>
            </button>
            <mat-error *ngIf="form.get('password').errors" translate>
                Lang_87
            </mat-error>
        </mat-form-field>
        <mat-form-field class="width-100">
            <span matPrefix translate>Lang_99_1 &nbsp;</span>
            <input matInput [type]="passwordHide ? 'password' : 'text'"
                   formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                <mat-icon svgIcon="{{passwordHide ? 'eye-off' : 'eye-open'}}"></mat-icon>
            </button>
            <mat-error *ngIf="form.get('confirmPassword').errors">
                {{form.get('confirmPassword').errors.msg}}
            </mat-error>
        </mat-form-field>
        <p class="return-msg" *ngIf="resultMsg">{{resultMsg}}</p>
        <div class="example-button-row margin-top-20">
            <button class="width-100" mat-raised-button type="button" [disabled]="!form.valid || updating"
                    [ngClass]="{'app-primary-button':form.valid}"
                    (click)="commitChanges()">
                <span class="color-white-lower" *ngIf="!updating">{{'Lang_910' | translate}}</span>
                <ion-spinner name="dots" *ngIf="updating"></ion-spinner>
            </button>
            <p class="notice" translate>Lang_65 </p>
        </div>
    </form>
</ion-content>

