<tw-header title="{{'Lang_12' | translate}}" [backButton]="false"></tw-header>


<ion-content>
    <div class="avatar-box" mat-ripple routerLink="/user/details">
        <tw-avatar [avatar]="avatar"></tw-avatar>
        <div class="user-info">
            <p class="name">{{username}}</p>
            <p class="department">{{department}}</p>
        </div>
        <span class="flex-right"></span>
        <mat-icon>chevron_right</mat-icon>
    </div>
    
    <mat-list class="setting-list">
        <div mat-ripple routerLink="/application/about">
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 style="position: relative" translate>Lang_31
                    <span class="hint-badge" slot="start" *ngIf="newMark"></span>
                </h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        <div mat-ripple routerLink="/user/update-password">
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line translate>Lang_32</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
    
    <div class="example-button-row exit-box">
        <button mat-raised-button (click)="loginOut()" translate>{{'Lang_33' | translate}}</button>
    </div>

</ion-content>
