<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>我的</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="avatar-box" mat-ripple routerLink="/user/details">
        <ion-avatar class="avatar">
            <img src="{{avatar}}">
        </ion-avatar>
        <div class="user-info">
            <p class="name">{{username}}</p>
            <p class="department">{{department}}</p>
        </div>
        <span class="flex-right"></span>
        <mat-icon>chevron_right</mat-icon>
    </div>
    
    <mat-list class="setting-list">
        <div mat-ripple routerLink="/application/about">
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>关于同维OA</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        <div mat-ripple routerLink="/user/update-password">
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>修改密码</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
    
    <div class="example-button-row exit-box">
        <button translate mat-raised-button (click)="loginOut()">退出登录</button>
    </div>

</ion-content>
