.hrLine {
  vertical-align: middle;
  display: inline-block;
  color: #e5e5e5;
  border: none;
  border-top: 1px solid #e5e5e5;
  width: 40%;
}

.line-box {
  width: 100%;
  color: #bebebe;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 14px;
}
