<tw-header title="{{'Lang_32' | translate}}"></tw-header>

<ion-content>
    <form class="padding-20" [formGroup]="form">
        <mat-form-field class="width-100">
            <span matPrefix>旧密码 &nbsp;</span>
            <input matInput [type]="oldPasswordHide ? 'password' : 'text'"
                   formControlName="oldPassword">
            <button mat-icon-button matSuffix (click)="oldPasswordHide = !oldPasswordHide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                <mat-icon>{{oldPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="width-100">
            <span matPrefix>新密码 &nbsp;</span>
            <input matInput [type]="passwordHide ? 'password' : 'text'"
                   formControlName="password">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="width-100">
            <span matPrefix>新密码 &nbsp;</span>
            <input matInput [type]="passwordHide ? 'password' : 'text'"
                   formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.get('confirmPassword').errors">
                {{form.get('confirmPassword').errors.msg}}
            </mat-error>
        </mat-form-field>
        
        <div class="example-button-row margin-top-20">
            <button class="width-100" mat-raised-button color="primary" [disabled]="!form.valid"
                    (click)="commitChanges()">{{ 'Lang_64' | translate}}
            </button>
        </div>
        <p class="notice" translate>
            Lang_65
        </p>
    </form>
</ion-content>
