<ion-header mode="md">
    <!--<ion-header mode="ios">-->
    <ion-toolbar color="secondary">
        <ion-buttons slot="start" *ngIf="backButton">
            <ion-button>
                <mat-icon svgIcon="calendar" (click)="back()"></mat-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="actionEmit()" *ngIf="showButtonRight">
            <button mat-button *ngIf="!showLoadingButtonRight">{{buttonTitle}}</button>
            <ion-spinner name="lines-small" color="light" *ngIf="showLoadingButtonRight"></ion-spinner>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>
