<ion-content>
    <div class="avatar-box">
        <ion-avatar class="avatar">
            <img src="https://public-assets.envato-static.com/assets/badges/elite-d41954e54b009732125beec497f8e4e837aabac1fb59883dc88f167d61fe06ae.svg">
        </ion-avatar>
        <h2 class="name">周杰伦</h2>
        <!--        <ion-title>Default Title</ion-title>-->
    </div>
    
    <mat-list class="setting-list">
        <!--        <h3 mat-subheader>Folders</h3>-->
        <div mat-ripple routerLink="/user/details">
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>个人信息</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        <div mat-ripple>
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line>系统设置</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    </mat-list>
</ion-content>
