* {
  color: #161616;
}


mat-list {
  .mat-list-item {
    justify-content: space-between;
  }
}


.info-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-right {
  flex: 1 1 auto;
}


tw-avatar {
  width: 30px;
  height: 30px;
}

ion-list {
  ion-item:first-child {
    --min-height: 55px;
  }

  ion-item {
    --border-color: #efefef;
    font-size: 15px;
    --min-height: 50px;

    span:last-child {
      color: #9c9c9c;
    }
  }


}
