<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>个人信息</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar slot="end">
                <img src="{{avatar}}">
            </ion-avatar>
            <ion-label>用户头像</ion-label>
        </ion-item>
        <ion-item class="info-item">
            <span>姓名</span>
            <span class="flex-right"></span>
            <span>{{username}}</span>
        </ion-item>
        <ion-item class="info-item">
            <span>性别</span>
            <span class="flex-right"></span>
            <span>{{gender}}</span>
        </ion-item>
        <ion-item class="info-item" routerLink="./change-info">
            <span>手机号</span>
            <span class="flex-right"></span>
            <span>{{cellphone}}</span>
            <mat-icon>chevron_right</mat-icon>
        </ion-item>
        <ion-item class="info-item">
            <span>邮箱</span>
            <span class="flex-right"></span>
            <span>{{email}}</span>
        </ion-item>
        <ion-item class="info-item">
            <span>职务</span>
            <span class="flex-right"></span>
            <span>{{jobTitle}}</span>
        </ion-item>
        <ion-item class="info-item">
            <span>所属部门</span>
            <span class="flex-right"></span>
            <span>{{department}}</span>
        </ion-item>
    </ion-list>
</ion-content>


