
<tw-header title="{{'Lang_12' | translate}}"></tw-header>

<ion-content>
    <ion-list>
        <ion-item>
            <tw-avatar [avatar]="avatar" slot="end"></tw-avatar>
            <ion-label translate>Lang_41</ion-label>
        </ion-item>
        <ion-item class="info-item" (click)="go()">
            <span translate>Lang_42</span>
            <span class="flex-right"></span>
            <span>{{username}}</span>
        </ion-item>
        <ion-item class="info-item">
            <span translate>Lang_43</span>
            <span class="flex-right"></span>
            <span>{{gender}}</span>
        </ion-item>
        
        <ion-item class="info-item" [routerLink]="['change-info',cellphone]">
            <span translate>Lang_44</span>
            <span class="flex-right"></span>
            <span>{{cellphone}}</span>
            <!--            <mat-icon>chevron_right</mat-icon>-->
        </ion-item>
        <ion-item class="info-item">
            <span translate>Lang_45</span>
            <span class="flex-right"></span>
            <span>{{email}}</span>
        </ion-item>
        <ion-item class="info-item">
            <span translate>Lang_46</span>
            <span class="flex-right"></span>
            <span>{{jobTitle}}</span>
        </ion-item>
        <ion-item class="info-item">
            <span translate>Lang_47</span>
            <span class="flex-right"></span>
            <span>{{department}}</span>
        </ion-item>
    </ion-list>
</ion-content>


