<ion-content>
    <ion-row class="ion-padding-bottom ion-margin ion-text-center logo-box">
        <ion-col>
            <mat-icon class="logo slide-top" svgIcon="tw_logo">content_copy</mat-icon>
        </ion-col>
    </ion-row>
    
    <form [formGroup]="form">
        <div class="input-box">
            <mat-form-field appearance="legacy" floatLabel="never" errorState="false">
                <input matInput placeholder="{{ 'Lang_82' | translate }}" formControlName="username">
                <button mat-icon-button matPrefix>
                    <mat-icon svgIcon="username"></mat-icon>
                </button>
                <button mat-icon-button matSuffix (click)="form.patchValue({username:''})">
                    <mat-icon svgIcon="clear"></mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="legacy" floatLabel="never">
                <input matInput placeholder="{{ 'Lang_81' | translate }}" formControlName="password"
                       [type]="passwordHide ? 'password' : 'text'">
                <button mat-icon-button matPrefix>
                    <mat-icon svgIcon="password"></mat-icon>
                </button>
                <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
                    <mat-icon svgIcon="{{passwordHide ? 'eye-off' : 'eye-open'}}"></mat-icon>
                </button>
            </mat-form-field>
            <div class="login-error" *ngIf="loginError" translate>Lang_84</div>
            
            <mat-checkbox class="remenber-info" checked="false"
                          formControlName="remember">{{ 'Lang_912' | translate }}</mat-checkbox>
            
            <ion-button class="login-button" type="submit" color="secondary" expand="block"
                        [disabled]="!form.valid || inLogging ||  !form.get('username').value || !form.get('password').value"
                        (click)="doLogin()" translate>
                <ion-spinner name="dots" *ngIf="inLogging"></ion-spinner>
                <span *ngIf="!inLogging" translate>Lang_94</span>
            </ion-button>
            
            <div class="reset-password" (click)="resetPassword()">
                <button mat-button>{{ 'Lang_93' | translate }}?</button>
            </div>
        </div>
    </form>
    <!--            <div class="reset-password" routerLink="{{resetPasswordRoute}}">-->

</ion-content>
