/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
//@import "./theme/variables.scss";


//.custom-dialog-container .mat-dialog-container {
//  padding: 10px;
//}

.width-100 {
  width: 100%;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-17 {
  margin-right: 17px;
}

.padding-20 {
  padding: 20px;
}

.align-right {
  text-align: right;
}

.toast {
  //--border-color: red;
  --color: white;
  text-align: center;
  --background: rgba(0, 0, 0, 0.5);
  //--background-color: transpare执行一次nt;
  //--background: #00FF00 url(./assets/img/tw-icon.png) no-repeat;

  word-wrap: break-word;
  word-break: break-all;
}

.flex-right {
  flex: 1 1 auto;
}

// 弹出的dialog样式
.mat-dialog-container {
  padding: 10px !important;

  .mat-button-wrapper {
    color: #37a5f3;
  }

  .mat-progress-bar-fill::after {
    background-color: #37a5f3;
  }

}

.mat-button-focus-overlay {
  background-color: transparent !important;
}


// 让薪资展示页面去掉阴影

.tw-theme .mat-expansion-panel:not([class*=mat-elevation-z]), .mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 0;
}
