<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>关于同维OA</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="img-div">
        <img cache="true" class="img-content" src="../../../assets/img/tw-icon.png">
    </div>
    <p align="center" class="about-us-p"> 同维OA v6</p>
    
    <mat-list class="setting-list">
        <div mat-ripple routerLink="/application/about/version-features">
            <mat-list-item>
                <h4 mat-line>功能介绍</h4>
                <mat-icon>chevron_right</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        <div mat-ripple>
            <mat-list-item (click)="checkUpdate()">
                <h4 mat-line>版本更新1</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        
        <div mat-ripple>
            <mat-list-item (click)="checkUpdate1()">
                <h4 mat-line>测试已是最新版本</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
        
        <div mat-ripple>
            <mat-list-item (click)="checkUpdate2()">
                <h4 mat-line>测试新版本</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    
        <div mat-ripple>
            <mat-list-item (click)="test1()">
                <h4 mat-line>test button 1</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>
    
        <div mat-ripple>
            <mat-list-item (click)="test2()">
                <h4 mat-line>test button 2</h4>
            </mat-list-item>
            <mat-divider></mat-divider>
        </div>


    </mat-list>


</ion-content>

<ion-footer align="center">
    <p class="about-us-p-bottom">深圳市共进电子股份有限公司
        <span style="margin-left:10px;">版权所有</span>
    </p>
    <p class="about-us-p-top">@ 2017 - 2020 T&W Inc.All rights reserved.</p>
</ion-footer>
