<ion-content>
    <div>
        {{daete1 |json }}
        <ion-datetime #datePicker displayFormat="YYYY/MM" pickerFormat="YYYY MM" min="2002-12-19"
                      [pickerOptions]="customPickerOptions" mode="md"
                      (ionChange)="dateChange($event)"
        ></ion-datetime>
    </div>
    
</ion-content>




<!--<mat-expansion-panel matRipple>-->
<!--    <mat-expansion-panel-header>-->
<!--        <mat-panel-title>岗位补贴</mat-panel-title>-->
<!--        <mat-panel-description>₫ 2,500,000</mat-panel-description>-->
<!--    </mat-expansion-panel-header>-->
<!--    <div slot="details" class="item-details">-->
<!--        <span>个人所得税</span>-->
<!--        <span class="fill-remaining-space"></span>-->
<!--        <span>₫ 1,500,000</span>-->
<!--    </div>-->
<!--    <div slot="details" class="item-details">-->
<!--        <span>旅游补贴</span>-->
<!--        <span class="fill-remaining-space"></span>-->
<!--        <span>₫ 1,500,000</span>-->
<!--    </div>-->
<!--    <div slot="details" class="item-details">-->
<!--        <span>熬夜补贴</span>-->
<!--        <span class="fill-remaining-space"></span>-->
<!--        <span>₫ 1,500,000</span>-->
<!--    </div>-->
<!--</mat-expansion-panel>-->

<!--<mat-expansion-panel (opened)="panelOpenState = true"-->
<!--                     (closed)="panelOpenState = false">-->
<!--    <mat-expansion-panel-header>-->
<!--        <mat-panel-title>加班补助</mat-panel-title>-->
<!--        <mat-panel-description>₫ 2,500,000</mat-panel-description>-->
<!--    </mat-expansion-panel-header>-->
<!--    <div slot="details" class="item-details">-->
<!--        <span>个人所得税</span>-->
<!--        <span class="fill-remaining-space"></span>-->
<!--        <span>₫ 1,500,000</span>-->
<!--    </div>-->
<!--</mat-expansion-panel>-->
