<!--&lt;!&ndash; lOGIN FROMA &#45;&#45;COMPONENT 2 &ndash;&gt;-->
<!--<div class="ion-page">-->
<!--    <ion-header>-->
<!--        <ion-toolbar>-->
<!--            <ion-buttons slot="start">-->
<!--                <ion-back-button defaultHref="/"></ion-back-button>-->
<!--            </ion-buttons>-->
<!--            <ion-title class="ion-text-uppercase">kfkd</ion-title>-->
<!--        </ion-toolbar>-->
<!--    </ion-header>-->
<!--    <ion-content class="transparent background-size" [ngStyle]="{'background-image': 'url(' + '../../../assets/img/city2.jpg' + ')'}">-->
<!--        <ion-grid class="ion-padding">-->
<!--            <ion-row class="ion-align-items-center">-->
<!--                <ion-col class="background-white ion-margin-top ion-margin-bottom border-radius box-shadow ion-padding" size="12" size-md="10" push-md="1">-->
<!--                    <ion-button class="ion-float-end button-clear" fill="clear" >dkfkdf</ion-button>-->
<!--                    <div class="clearfix"></div>-->
<!--                    &lt;!&ndash;-Logo&ndash;&gt;-->
<!--                    <ion-img class="ion-margin-top" [src]="'../../../assets/img/city2.jpg'"></ion-img>-->
<!--                    &lt;!&ndash;-Input field username&ndash;&gt;-->
<!--                    <ion-item class="ion-no-padding transparent input">-->
<!--                        <ion-label class="text-size-xs" position="floating">djfk</ion-label>-->
<!--                        <ion-input required type="text"></ion-input>-->
<!--                        <ion-icon  class="icon-small" name="remove-circle"></ion-icon>-->
<!--                    </ion-item>-->
<!--                    &lt;!&ndash;-Input field password&ndash;&gt;-->
<!--                    <ion-item class="ion-no-padding transparent input">-->
<!--                        <ion-label class="text-size-xs" position="floating">djfk</ion-label>-->
<!--                        <ion-input required type="password" ></ion-input>-->
<!--                        <ion-icon  class="icon-small" name="remove-circle"></ion-icon>-->
<!--                    </ion-item>-->
<!--                    &lt;!&ndash;-Login button&ndash;&gt;-->
<!--                    <ion-button class="ion-float-end button-clear ion-margin-top" fill="clear">-->
<!--                      dkfjkdj-->
<!--                    </ion-button>-->
<!--                    &lt;!&ndash;-Register button&ndash;&gt;-->
<!--                    <ion-button class="ion-float-end button-clear ion-margin-top" fill="clear" >-->
<!--                        dkjfj-->
<!--                    </ion-button>-->
<!--                    <div class="clearfix"></div>-->
<!--                    &lt;!&ndash;-Share Section&ndash;&gt;-->
<!--                    <ion-row class="ion-margin-top">-->
<!--                        <ion-col size="6" class="ion-no-padding">-->
<!--                            &lt;!&ndash;-Facebook button&ndash;&gt;-->
<!--                            <ion-button class="button-round facebook" shape="round" expand="full" fill="outline">sfkdkjf-->
<!--                            </ion-button>-->
<!--                            &lt;!&ndash;-Twitter button&ndash;&gt;-->
<!--                            <ion-button class="button-round twitter" shape="round" expand="full" fill="outline">dkfdskf</ion-button>-->
<!--                        </ion-col>-->
<!--                        <ion-col size="6" class="ion-no-padding">-->
<!--                            &lt;!&ndash;-Google button&ndash;&gt;-->
<!--                            <ion-button class="button-round google" shape="round" expand="full" fill="outline">kdjfj</ion-button>-->
<!--                            &lt;!&ndash;-Pinterest button&ndash;&gt;-->
<!--                            <ion-button class="button-round pinterest" shape="round" expand="full" fill="outline">dkfjkdjfk-->
<!--                            </ion-button>-->
<!--                        </ion-col>-->
<!--                    </ion-row>-->
<!--                </ion-col>-->
<!--                &lt;!&ndash;-End Share Section&ndash;&gt;-->
<!--            </ion-row>-->
<!--        </ion-grid>-->
<!--    </ion-content>-->
<!--</div>-->
