* {
  color: #575757;
}

ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
}

.skeleton {
  padding: 8px;
}

.first-line {
  padding-left: 40px;
  padding-right: 9px;
  height: 15px;
}

.line-normal {
  width: 100%;
  height: 15px;
  margin-top: 10px;
  padding-right: 9px;
  padding-left: 9px;

}
